body {
    margin-top: 0;
    margin: auto;
}

/* header section */
header {
    margin-top: 0;
}

h1 {
    font-weight: 700;
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

.banner {
    text-align: right;
    align-items: center;
    background-image: url(../banner/banner1.png);
    height: 700px;

    background-repeat: no-repeat;
    padding-right: 200px;
    padding-top: 200px;
}

.btn {
    background-color: #F15B22;
    padding: 10px;
    border: 0;
    border-radius: 5%;
    color: aliceblue;
    font-weight: 700;
}

/* Failure section style */

.failure {
    display: flex;
    align-items: center;
    gap: 100px;
    margin: 0 200px 0;
}

/* Plans section style */
.plans {
    text-align: center;
    margin-top: 50px;
}

.plans-info {
    display: flex;
    justify-content: space-around;
    margin: 0 100px 0;

}