body {
    margin-top: 0;
    margin: auto;
}

/* header section */
header {
    margin-top: 0;
}

h1 {
    font-weight: 700;
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

.banner {
    text-align: right;
    align-items: center;
    background-image: url(../banner/banner1.png);
    height: 700px;

    background-repeat: no-repeat;
    padding-right: 200px;
    padding-top: 200px;
}

.btn {
    background-color: #F15B22;
    padding: 10px;
    border: 0;
    border-radius: 5%;
    color: aliceblue;
    font-weight: 700;
}

/* Failure section style */

.failure {
    display: flex;
    align-items: center;
    gap: 100px;
    margin: 0 200px 0;
}

/* Plans section style */
.plans {
    text-align: center;
    margin-top: 50px;
}

.plans-info {
    display: flex;
    justify-content: space-around;
    margin: 0 100px 0;

}

/* a different section style */
.different {
    background-image: linear-gradient(to right, #F15B22, rgba(202, 202, 190, 0.032)), url(../image/watch.png);
    height: 300px;
    background-repeat: no-repeat;
    padding-left: 60px;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    background-size: auto;
    border: 0;
    border-radius: 5%;
}

.different-text {
    padding: 30px;

}

.simple-btn {
    background-color: aliceblue;
    padding: 15px 40px 15px;
    border: 0;
    border-radius: 5%;
    color: #F15B22;
    font-weight: 700;
    font-size: 15px;

}

/* Footer section style */
footer {
    margin-top: 100px;
    padding: 100px;
    background-color: #151414;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
}

.social-icon {
    display: flex;
    gap: 10px;
}

.input-item {
    margin-top: 20px;
}

.input {
    padding: 15px 20px 15px;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid white;
    border-radius: 5%;
}

.sub {
    margin-top: 20px;
}